<?xml version="1.0"?>

<model>
  <name>Table_Kbys</name>
  <version>1.0</version>
  <sdf version="1.2">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

<!-- I used following authors model to create-->
	<!-- <url>https://bitbucket.org/osrf/gazebo_models/src/table</url> -->
  <!-- <author> -->
  <!--   <name>Nate Koenig</name> -->
  <!--   <email>nate@osrfoundation.org</email> -->
  <!-- </author> -->
  <author>
    <name>Dean Kubota</name>
    <email>example@gmail.com</email>
  </author>
  <description>
    A short wooden table.
  </description>
</model>
